<%= form_for @team, html: { class: "form-horizontal" } do |f| %>
  <% if @team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@team.errors.count, "error") %> не дают сохранить команду:</h2>

      <ul>
      <% @team.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, "Название", class: "caption" %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :image_url, "Ссылка на эмблему", class: "caption" %>
    <%= f.url_field :image_url, class: 'long' %>
  </div>
	<% if current_user.is_admin? %>
    <div class="field">
      <%= f.label :user_id, "Капитан", class: "caption" %>
      <%= f.select(:user_id, User.all.collect {|user| [user.show_name, user.id] }) %>
    </div>
	<% end %>

    <%= render 'users/short_index', users: @team.users %>

    <div class="actions button">
    <%= f.submit "Сохранить", class: "action_button" %>
  </div>
<% end %>

<% team_request_list ||= nil %>
<% @user = current_user %>
<% if team_request_list.present? && current_user == @team.captain %>
  <%= render 'users/team_settings', team_request_list: team_request_list %>
<% end %>