<h1>Список команд</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Название</th>
      <th>Эмблема</th>
      <th>Капитан</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
<% @teams.each do |team| %>
    <tr>
      <td><%= content_tag(:b, team.name) %></td>
      <td><%= image_tag(team.image_url, size: '160x160') if team.image_url.present? %></td>
      <td><%= link_to_user(team.captain) %></td>

      <td><%= pic_link_to_show(team_path(team)) if can? :read, team %></td>
      <td><%= pic_link_to_edit(edit_team_path(team)) if can? :read, team %></td>
      <td><%= pic_link_to_delete(team_path(team), {confirm: 'Точно удаляем?', method: :delete}) if can? :read, team %></td>
    </tr>
<% end %>
  </tbody>
</table>

<br>

<%= link_to 'Новая команда', new_team_path, class: "action_button" if can? :create, Team %>
