<h1>Список команд</h1>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Название</th>
      <th>Второе название</th>
      <th>Ссылка на эмблему</th>
      <th>Капитан</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

<% @teams.each do |team| %>
  <tbody>
    <tr>
      <td><%= team.name %></td>
      <td><%= team.alternative_name %></td>
      <td><%= team.image_url %></td>
      <td><%= team.captain.show_name %></td>
      <td><%= link_to 'Смотреть', team_path(team), class: "action_button" if can? :read, team %></td>
      <td><%= link_to 'Править', edit_team_path(team), class: "action_button" if can? :manage, team %></td>
      <td><%= link_to 'Удалить', team_path(team), confirm: 'Точно удаляем?', method: :delete, class: "action_button" if can? :manage, team %></td>
    </tr>
  </tbody>
<% end %>
</table>

<br>

<%= link_to 'Новая команда', new_team_path, class: "action_button" if can? :create, Team %>
