
<div class="content">
  <p>
    <span class="caption">Команда: </span>
    <%= @team.name %>
  </p>
  <p>
    <span class="caption">Эмблема:</span><br>
    <%= image_tag(@team.image_url) if @team.image_url.present?%>
  </p>
  <p>
    <span class="caption">Капитан:</span>
    <%= @team.captain.show_name %>
  </p>

  <%= render 'users/short_index', users: @team.users %>
</div>

<%= link_to 'Править', edit_team_path(@team), class: 'action_button' if can? :manage, @team %>
