Привет!

<p>Приглашаем Вас принять участие в новой игре проекта NeFoRmat "<%= game.name %>", которая состоится <%= game.start_date.localtime.strftime('%d.%m.%y в %H:%M') %>.</p>

<% if game.dopy_list.present? %>
<p>
  При себе иметь:<br>
  <%= game.dopy_list %>
</p>
<% else %>
    <p>В игре могут появиться дополнительные принадлежности, поэтому следите за анонсом на сайте.</p>
<% end %>

<p>Команды-победители будут поощряться небольшими, умеренно ценными, но приятными плюшками :)</p>

<p>Подробнее - на <%= link_to 'нашем сайте', '/' %>.</p>

<p>
  --<br>
  С уважением,<br>
  команда <%= link_to 'NeFoRmat', '/' %>
</p>