<% if current_user.present? %>
  <nav id="user_info" class="menu">
	  <h2>Командные настройки</h2>
    <% if current_user.team.present? %>
      <span>Команда: <%= content_tag(:b, current_user.team.name) %></span><br><br>
    <% else %>
      <span>Нет команды.</span><br>
    <% end %>

    <ul>
      <% if current_user.team.blank? %>
        <%= content_tag(:li, link_to("Создать свою команду", new_team_path)) %>
        <%= content_tag(:li, link_to("Подать заявку в существующую", team_requests_user_path(current_user))) %>
      <% else %>
        <% if current_user.is_captain? %>
          <%= content_tag(:li, link_to("Настройки команды", edit_team_path(current_user.team))) %>
  		  <% else %>
          <%= content_tag(:li, link_to("Данные команды", team_path(current_user.team))) %>
        <% end %>
        <%= content_tag(:li, link_to("Список игроков", users_path)) %>
      <% end %>
      <br>
    </ul>
  </nav>
<% end %>
