<%= form_for @user, html: { class: "form-horizontal" } do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> не дают сохранить пользователя:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :username, "Логин", class: "caption" %>
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label :username, "Ссылка на аватар", class: "caption" %>
    <%= f.text_field :avatar_url, class: 'long' %>
  </div>

  <% if @user.avatar_url.present? %>
    <div class="field">
      <%= image_tag @user.avatar_url, size: '100x100' %>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :password, "Пароль", class: "caption" %>
    <%= f.text_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation, "Подтверждение пароля", class: "caption" %>
    <%= f.text_field :password_confirmation %>
  </div>
  <div class="field">
    <%= f.label :email, class: "caption" %>
    <%= f.text_field :email %>
  </div>
  <%= f.label :team_id, (@user.team ? "Команда" : "Запрос в команду:"), class: "caption" %>
  <%= team_select({f: f, user: @user}) %>
  <div class="actions button">
    <%= f.submit "Сохранить", class: "action_button" %>
  </div>
<% end %>

<% team_request_list ||= nil %>
<% if team_request_list.present? %>
  <%= render 'users/team_settings', team_request_list: team_request_list %>
<% end %>
