<h1>Список пользователей</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Логин</th>
      <% if current_user.is_admin? %>
        <th>Роль на сайте</th>
        <th>Email</th>
      <% end %>
      <th>Команда</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

<% @users.each do |user| %>
  <tbody>
    <tr>
      <td><%= link_to_user(user) %></td>
      <% if current_user.is_admin? %>
        <td><%= user.role.present? ? user.role : 'Игрок' %></td>
        <td><%= user.email %></td>
      <% end %>
      <td><%= link_to(user.team.name, team_path(user.team)) if user.team %></td>

      <td><%= pic_link_to_show user_path(user)      if can? :read, user %></td>
      <td><%= pic_link_to_edit edit_user_path(user) if can? :manage, user %></td>
      <td><%= pic_link_to_delete(user_path(user), {confirm: 'Точно удаляем?', method: :delete}) if can? :manage, user %></td>
    </tr>
  </tbody>
<% end %>
</table>