<h1>Список пользователей</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Логин</th>
      <% if current_user.is_admin? %>
        <th>Роль на сайте</th>
        <th>Email</th>
        <th>Команда</th>
      <% end %>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

<% @users.each do |user| %>
  <tbody>
    <tr>
      <td><%= user.username %></td>
      <% if current_user.is_admin? %>
        <td><%= user.role.present? ? user.role : "Игрок" %></td>
        <td><%= user.email %></td>
        <td><%= user.team.try(:name) %></td>
      <% end %>
      <td><%= link_to 'Смотреть', user_path(user), class: "action_button_min" if can? :read, user %></td>
      <td><%= link_to 'Править', edit_user_path(user), class: "action_button_min" if can? :manage, user %></td>
      <td><%= link_to 'Удалить', user_path(user), confirm: 'Точно удаляем?', method: :delete, class: "action_button_min" if can? :manage, user %></td>
    </tr>
  </tbody>
<% end %>
</table>