<% if @free_codes.present? %>
  <table class='free_code'>
	  <thead>
	    <th>Код</th>
	    <th>KO</th>
	    <th>Цена</th>
	    <th>Найден</th>
	    <th>Зона</th>
	  </thead>
	  <tbody>
  	  <% @free_codes.each do |team_code| %>
	    <tr data-id="<%= team_code.id %>">
	      <%= content_tag(:td, team_code.code.show_code) %>
	      <%= content_tag(:td, team_code.code.ko) %>
	      <%= content_tag(:td, team_code.code.bonus) %>
	      <%= content_tag(:td, team_code.created_at.strftime('%H:%M:%S')) %>
	      <td>
		      <%= select_tag(:zones, options_from_collection_for_select(@team_zones, "id", "name"), include_blank: true) %>
	      </td>
	    </tr>
	    <% end %>
	  </tbody>
  </table>

	<div>
		<a href='#' id='attach_free_code' data-url='<%= attach_codes_path %>'>Сохранить изменения</a>
  </div>
<% else %>
  <div class='zone'>Нет свободных кодов</div>
<% end %>