<% if game.present? %>
    <article class="game <%= game.css_class %>">
      <h1><%= game.start_date.localtime.strftime('%d.%m.%y') %> - <%= game.name %></h1>
      <h3><%= game.project.try(:name) %> <%= game.format.try(:name) %> #<%= game.number %></h3>
      <b>Старт: <%= game.start_date.localtime.strftime('%H:%M') %></b><br>
      <% if (game.price || 0) > 0 %>
          <b>Взнос: <%= game.price %> грн.</b><br>
      <% end %>
      <br>
      <%= game.image_html.try(:html_safe) || '' %><br>
      <div class="details openable_holder">
        <%= openable_tag(nil, false, 'Подробней') %>
        <div class="openable hidden">
          <b>Зона игры:</b> <%= game.area || 'уточняется' %><br>
          <% if game.preview %>
              <p><b>Анонс</b><br> <%= game.preview.try(:html_safe) %></p>
          <% end %>
          <% if game.legend %>
              <p><b>Легенда</b>
              <div class="word_wrap"><%= game.legend.try(:html_safe) %></div></p>
          <% end %>
          <% if game.brief_place %>
              <p><b>Место брифинга: </b> <%= game.brief_place.try(:html_safe) %></p>
          <% end %>
        </div>
      </div>
      <div class="details">
        <div class="details_caption">Принятые заявки: </div> <%= game.teams.map {|t| link_to_team(t) }.join('').html_safe %><br><br>
        <div class="details_caption">Ждут принятия: </div> <%= game.teams_unaccepted.map(&:name).join(', ') %>
      </div>
      <div>
        <%= link_to('Обсудить на форуме', game.prepare_url, class: 'action_button', target: '_blank') if game.prepare_url.present? %>
      </div>

      <% if current_user %>
          <%= link_to_create_game_request(game) if game.can_request?(current_user) %>
          <%= link_to_delete_game_request(game, current_user) if game.can_delete_request?(current_user) %>
          <%= link_to_enter_game(game) if game.can_enter?(current_user) %>

          <%= link_to_edit_game(game)    if can? :update,  game %>
          <%= link_to_archive_game(game) if can? :archive, game %>
      <% end %>
    </article>
<% end %>