<div> <%= links(@game) %> </div>

<% if @stat_result.present? %>
  <% if @stat_result[:error].blank? %>
	  <table class='log_full'>
		  <thead>
		    <th>Команда</th>
		    <% @game.archive_zones.each do |zone| %>
		    <th colspan="2"><%= zone.name %></th>
			  <% end %>
		    <th colspan="2">Всего</th>
		  </thead>
		  <tbody>
		  <% @stat_result[:bonuses].each_pair do |key, val| %>
		    <tr>
		      <td><b><%= ArchiveTeam.find(key).name %></b></td>
		      <% @game.archive_zones.each do |zone| %>
		        <td><%= val[zone.id][:sum] %></td>
		        <td><%= val[zone.id][:bonus] %></td>
		      <% end %>
		      <td><%= val['total'][:sum] %></td>
		      <td><%= val['total'][:bonus] %></td>
		    </tr>
			<% end %>
		  </tbody>
	  </table><br><br>

	  <div style="display: inline-block">
    <table class='log_full'>
	    <thead>
	    <th>Зона</th>
	    <th>Команда</th>
	    <th>Влияние</th>
	    </thead>
	    <tbody>
	    <% @stat_result[:holders].each_pair do |key, val| %>
	      <tr>
	        <td><b><%= ArchiveZone.find(key).name %></b></td>
	        <td><%= ArchiveTeam.find_by_id(val[:team]).try(:name) || ' - ' %></td>
	        <td><%= val[:sum] %></td>
	      </tr>
	    <% end %>
	    </tbody>
	  </table>
	  </div>
    <div style="display: inline-block">
      <table class='log_full'>
        <thead>
          <th>Место</th>
          <th>Команда</th>
          <th>Очки</th>
        </thead>
        <tbody>
        <% num = 1 %>
        <% @stat_result[:total].each_pair do |key, val| %>
          <tr>
            <td><b><%= num %></b></td>
            <td><%= ArchiveTeam.find_by_id(key).try(:name) %></td>
            <td><%= val %></td>
          </tr>
          <% num += 1 %>
        <% end %>
        </tbody>
      </table>
    </div>
  <% else %>
    <div class="error"><%= @stat_result[:error] %></div>
  <% end %>
<% end %>