<%= archive_links(game) %>
<h3><%= game.project.try(:name) %> <%= game.format.try(:name) %> #<%= game.number %> - <%= game.start_at.strftime('%d.%m.%y') %></h3>
<h1><%= game.name %></h1>
<h3>Подробная статистика</h3>

<table class="table table-bordered">
  <thead>
  <th>Задание</th>
  <th>Код/Подск.</th>
  <th>КО</th>
  <th>Цена</th>
  <% teams.each do |team| %>
      <th><%= team %></th>
  <% end %>
  </thead>
  <tbody>
  <% data.each do |row| %>
      <% if row[:codes].size + row[:hints].size == 0 %>
        <tr>
          <td colspan="<%= teams.size + 2 %>"<%= " data-level=\"#{row[:level]}\"" if row[:level] > 0 %>>
            <b><%= row[:name] %></b>
          </td>
        <tr>
      <% else %>
          <% (row[:codes] + row[:hints]).each_with_index do |code, ix| %>
              <tr<%= ' class=hint' if code[:ko].blank? %>>
                <%= content_tag(:td, row[:name], rowspan: row[:codes].size + row[:hints].size, 'data-level' => row[:level]) if ix == 0%>
                <%= content_tag(:td, code[:data]) %>
                <%= content_tag(:td, code[:ko]) %>
                <%= content_tag(:td, code[:bonus], class: 'right') %>
                <% teams.size.times do |i| %>
                    <%= content_tag(:td, code[:passed][i].try(:strftime, '%H:%M:%S'), class: 'right') %>
                <% end %>
              </tr>
          <% end %>
      <% end %>
  <% end %>
  </tbody>
</table>
