<%= archive_links(@game) %>
<h3><%= @game.project.try(:name) %> <%= @game.format.try(:name) %> #<%= @game.number %> - <%= @game.start_date.strftime("%d.%m.%y") %></h3>
<h1><%= @game.name %></h1>
<h3>Результаты</h3>
<table class="table table-bordered">
  <thead>
    <th>Место</th>
    <th>Команда</th>
    <th>Очков</th>
  </thead>
  <% data.each_with_index do |row, i| %>
    <tr>
      <%= content_tag(:td, i+1) %>
      <%= content_tag(:td, row[:team]) %>
      <%= content_tag(:td, row[:result]) %>
    </tr>
  <% end %>
</table>