<span class='time'>Обновлено в <%= Time.now.localtime.strftime('%H:%M:%S') %></span>
<%= link_to_refresh %>
<%= link_to_tasks %>
<%= link_to_stats %>
<%= link_to_logs %>
<%= link_to_results %>
<div id='team_actions' name='team_actions'>
  <%= link_to_free_codes %>

  <%= links_to_action_bonuses %>
</div>