<% if task.hints.present? %>
  <div class='hint openable_holder'>
    <%= openable_tag("#{task.make_id}hint") %>
    <%= content_tag(:span, "Подсказки (#{task.hints.size} шт.)", class: 'hint_caption') %>
	  <%= content_tag(:span, "Цена: #{task.hints.by_order.map(&:cost).join(", ")}") %>
    <div class="openable">
		<% task.hints_of(current_user.team).each do |hint| %>
      <div class=hint_data>
        <%= content_tag(:b, "Подсказка #{hint.number} (#{hint.cost})") %><br>
	  		<%= hint.data.html_safe %>
		  </div>
	  <% end %>
	  <% if task.is_available?(current_user.team) && task.hints.size > task.hints_of(current_user.team).size %>
	    <%= form_for :hint, url: pass_game_codes_path(@game) do |f| %>
			  <%= hidden_field_tag :task_id, task.id %>
		    <%= f.submit('Взять подсказку', confirm: 'Уверены, что хотите взять подсказку?') unless task.is_finished?(current_user.team) %>
	    <% end %>
    <% end %>
	  </div>
	</div>
<% end %>
