<div class='task openable_holder<%= ' unavailable' unless task.is_available?(current_user.team) %><%= ' finished' if task.is_finished?(current_user.team)%>'>

  <% if task.is_available?(current_user.team) %>
    <%= openable_tag(task.make_id, true, "#{task.number}. #{task.name}")%>
      (сдано <%= task.passed_code_count(current_user.team) %> из <%= task.code_count %>)
  <% else %>
      <%= openable_tag(task.make_id, true, "#{task.number}. #{task.name} (Недоступно)") %>
  <% end %>

  <div class='openable'>

  <% if task.is_available?(current_user.team) %>
      <%= task.data.html_safe %><br>
  	  <% if task.codes.present? %>
        <br><b>KO:</b> <%= task.codes.by_order.map{|code| ko_colored(code, current_user.team.id, @results)}.join(', ').html_safe %>
      <% end %>

      <% if task.tasks.present? %>
        <% task.tasks.by_order.each do |included_task| %>
          <%= render 'game_strategies/conquest/tasks/item', task: included_task %>
        <% end %>
      <% end %>
  <% else %>
    <%= show_preview(task).html_safe %>
  <% end %>

	<%= render 'game_strategies/conquest/hints/item', task: task %>

  </div>
</div>
