<% if @logs.present? %>
  <table class='log_full'>
	  <thead>
	    <th>Время</th>
	    <th>Код</th>
	    <th>Результат</th>
	    <th>КO</th>
	    <th>Зона</th>
	    <th>Задание</th>
	    <th>Цена</th>
	    <th>С бонусом</th>
	    <th>Отправитель</th>
	  </thead>
	  <tbody>
  <% @logs.each do |log|  %>
    <tr>
	    <%= content_tag(:td, log.created_at.localtime.strftime('%H:%M:%S')) %>
	    <%= content_tag(:td, log.data[0..31], style: "font-weight: bold; color: #{Code::STATE_COLORS[Code::STATES[log.result_code]]}") %>
	    <%= content_tag(:td, Code::STATE_NAMES[Code::STATES[log.result_code]]) %>
      <% if log.code.present? && log.can_show_info? %>
        <%= content_tag(:td, log.code.ko) %>
        <%= content_tag(:td, log.code.zone.try(:name) || "Свободный код") %>
        <%= content_tag(:td, log.code.task.try(:number)) %>
        <%= content_tag(:td, log.code.bonus) %>
        <%= content_tag(:td, current_user.team.modify_bonus(log.code)) %>
		  <% else %>
        <td></td><td></td><td></td><td></td><td></td>
      <% end %>
      <%= content_tag(:td, log.login) %>
    </tr>
	<% end %>
	  </tbody>
  </table>
<% end %>