<% if @stat_result.present? %>
  <table class='log_full'>
	  <thead>
	    <th>Дом</th>
	    <% Zone.all.each do |zone| %>
	    <th colspan="2"><%= zone.name %></th>
		  <% end %>
	    <th colspan="2">Всего</th>
	  </thead>
	  <tbody>
	  <% @stat_result[:bonuses].each_pair do |key, val| %>
	    <tr>
	      <td><b><%= User.find_by_email(key).team.name %></b></td>
	      <% (1..8).each do |zone| %>
	        <td><%= val[zone.to_s][:sum] %></td>
	        <td><%= Time.at(val[zone.to_s][:time_bonus]).strftime("%M:%S") %></td>
	      <% end %>

	    </tr>
		<% end %>
	  </tbody>
  </table><br><br>

  <table class='log_full'>
    <thead>
    <th>Зона</th>
    <th>Дом</th>
    <th>Влияние</th>
    </thead>
    <tbody>
    <% @stat_result[:holders].each_pair do |key, val| %>
      <tr>
        <td><b><%= Zone.all[key.to_i - 1].name %></b></td>
        <td><%= User.find_by_email(val[:team]).team.name %></td>
        <td><%= val[:sum] %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

<% end %>