<%= link_to 'Задания', root_path, class: 'nav_link' %>
<%= link_to 'Статистика', stat_path, class: 'nav_link' %>
<%= link_to 'Логи', logs_path, class: 'nav_link' %>
<div id='team_actions' name='team_actions'>
  <%= link_to 'Свободные коды', codes_path, class: 'action_link' if @current_user.team.codes_number_in_zone(nil) > 0 %>

  <% @current_user.team.action_bonuses.each do |bonus| %>
    <%= link_to bonus.name, '#', class: 'action_link action_bonus', 'data-id' => bonus.id  if bonus.can_new_action?  %>
  <% end %>
</div>