<!DOCTYPE html>
<html>
<head>
  <title>"Взаперти" - квесты в реальной жизни</title>
  <meta name="keywords" content="квест, quest, игра, автоквест, авто квест, городской квест, ночной квест, пешеходный квест, footquest, foot quest, реальный квест, киев">
  <meta name="description" content="Взаперти - городские квесты. Команда на автомобиле либо пешком должна разгадать все задания и найти все коды, передвигаясь по городу.">
  <link rel="shortcut icon" href="/assets/favicon.ico"/>
  <%= stylesheet_link_tag    'application', :media => 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="wrap">
  	<header>
  	  <div id="logo">
  	    <a href="/"><%= image_tag 'logo/ua_static.gif', alt: 'Взаперти' %></a>
  	  </div>
  	</header>

  	<%= render 'layouts/site/navigation' %>

	<span id="content_hook"></span>
    <div id="content">
    
      <%= yield %>

    </div>
  </div>
</body>
</html>
