<!DOCTYPE html>
<html>
<head>
  <title>NeFoRmat - необычные квесты</title>
  <link rel="shortcut icon" href="/images/favicon.ico"/>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="center">
	<a href="\"><header class="logo"></header></a>

	<%= render 'layouts/site/header_menu' %>
	<section id="container" name='container'>
		<nav id="site_info_container">
		  <%= render 'layouts/site/user_info' %><br>
		  <%= render 'layouts/site/team_info' %><br>
		  <%= render 'layouts/site/navigation' %>
		</nav>

		<section class="site_main_content">
		  <%= show_flash %>

		  <%= yield %>
		</section>

		<aside class="site_aside_right">

		</aside>
	</section>
</div>

</body>
</html>
