<!DOCTYPE html>
<html>
<head>
  <title>Game of Thrones - DR129 - S.M.I.L.E.</title>
  <link rel="shortcut icon" href="/images/favicon.ico"/>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<section id='container' name='container'>
  <header class="main"><%= render 'layouts/input_code' %></header>
	<nav id="info_container">
	  <%= render "layouts/user_info" %><br>
	  <%= render "layouts/blitz_info" %>
	  <%= render "layouts/log" %>

	</nav>

	<section class="main_content">
	  <%= show_flash %>

	  <%= yield %>
	</section>

	<aside class="aside_right">
		<%= render 'layouts/actions' %>
	  <%= render 'layouts/results' %>
	</aside>
</section>

</body>
</html>
